In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([10,20,30,40,50,60])
print(s)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [4]:
s = pd.Series([10,20,30,40,50,60], index=['a','b','c','d','e','f'])
print(s)

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [5]:
s = pd.Series([10,20,30,40,50,60])
print(s.iloc[0:3])
print(s.values)
print(s.size)
print(s.empty)

0    10
1    20
2    30
dtype: int64
[10 20 30 40 50 60]
6
False

In [6]:
d = pd.Series([None,None])
print(d.values)
print(d.size)
print(d.empty)

[None None]
2
False

In [7]:
d = pd.Series([np.nan, np.nan])
print(d.values)
print(d.size)
print(d.empty)

[nan nan]
2
False

In [8]:
d = pd.Series()
print(d.values)
print(d.size)
print(d.empty)

[]
0
True

In [9]:
s = pd.Series([10,20,30,40,50,60])
h = s.head(2)
print(h)

0    10
1    20
dtype: int64

In [10]:
t = s.tail(2)
print(t)

4    50
5    60
dtype: int64

In [11]:
c = s.count()
print(c)
d = pd.Series([np.nan, np.nan])
c = d.count()
print(c)
d = pd.Series()
c = d.count()
print(c)

6
0
0

In [12]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([5,6,7,8])
addi = s1+s2
print(addi)
sub = s1-s2
print(sub)
mul = s1*s2
print(mul)
div = s2/s1
print(div)

0     6
1     8
2    10
3    12
dtype: int64
0   -4
1   -4
2   -4
3   -4
dtype: int64
0     5
1    12
2    21
3    32
dtype: int64
0    5.000000
1    3.000000
2    2.333333
3    2.000000
dtype: float64

In [13]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([5,6,7,8])
print("Equals:", s1==s2, sep="\n", end="\n\n")
print("Greater than:", s1>s2, sep="\n", end="\n\n")
print("Less than:", s1<s2, sep="\n")

Equals:
0    False
1    False
2    False
3    False
dtype: bool

Greater than:
0    False
1    False
2    False
3    False
dtype: bool

Less than:
0    True
1    True
2    True
3    True
dtype: bool

In [14]:
data = [["Class 9", 21],["Class 10", 36],["Class 11", 48],["Class 12", 15]]
df = pd.DataFrame(data)
print(df)

          0   1
0   Class 9  21
1  Class 10  36
2  Class 11  48
3  Class 12  15